body{
    background: silver;
}

body{
    background-image: url(/rick.png);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    height : 100px;
}

.heading{
    margin-top: 150px;
    margin-left: 900px;
    margin-bottom: 200px;
}
.heading h1{
    color: black;
    font-family: 'Anton';
    font-size: 102px;
}
.context h2{
    font-family: 'Anton';
    font-size: 54px;
    text-align: center;
    
}
.context p{
    font-size: 27px ;
}
.heading a{
    display: block;
    color: black;
    font-size: xx-large;
    padding: 14px 16px;
    text-decoration: none;
}